* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.intro-chunk {
    max-width: 300px;
    line-height: 1.5rem;
}

.title {
    padding-bottom: 32px;
}

.max-width-wrapper {
    padding: 32px 0px 32px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

strong {
    color: hsl(146, 35%, 44%);
}

.card {
    background-color: hsl(0, 100%, 100%);
    padding: 8px 8px;
    border-bottom: 8px solid #666666;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    height: min-content;
}

.card > p {
    padding: 8px;
    line-height: 1.5rem;
}

.indented-heading {
    background-color: hsl(43, 89%, 61%);
    max-width: fit-content;
    margin-top: 0px;
    margin-left: -24px;
    /*margin-top: -16px;*/
    /*margin-top: 8px;*/
    /*margin-left: -24px;*/
    padding: 24px;
    border-bottom: 8px solid hsl(43, 59%, 48%);
}

.indented-heading > h2 {
    /*max-width: fit-content;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

main {
    background-color: hsl(0, 0%, 60%);
    border-top: 8px solid;
    border-top-color: hsl(0, 0%, 40%);
    border-bottom: 8px solid;
    border-bottom-color: hsl(0, 0%, 40%);
    min-height: fit-content;
    padding-top: 48px;
    padding-bottom: 48px;
}


html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    height: min-content;
    padding-top: 32px;
    padding-bottom: 32px;
}

/* Add styles here! */
